<!DOCTYPE html>
<html lang="en">
    <% include /src/include/head.ejs %>
    <body>
        <div class="js-main-wrapper">
            <% include /src/include/header.ejs %>

            <main class="js-main-content">
                <header class="js-main-con-header"></header>
                <section class="js-main-conainer">
                    <div class="container">
                        <h2 class="">Demo 1</h2>
                        <p class="text-black-50">This example with JS , when user enter something in textbox it should be written in &lt; p &gt; tag synchronously.</p>
                        
                        <hr class=" mb-5">

                        <div class="row">
                            <div class="col-md-6">
                                <h5>Method 1</h5>
                                <div class="mb-3">
                                    <label class="form-label">Text Demo</label>
                                    <input type="text" class="form-control form-control-lg" id="TypeText" placeholder="Type text here">
                                    
                                </div>
                                <p class="text-success" id="ShowText"></p>

                                <hr class="my-4">

                                <h5>Method 2</h5>
                                <div class="mb-3">
                                    <label class="form-label">Text Demo</label>
                                    <input type="text" class="form-control form-control-lg" id="TypeText2" placeholder="Type text here">
                                    
                                </div>
                                <p class="text-success" id="ShowText2"></p>

                                <hr class="my-4">

                                <h5>Method 3</h5>
                                <label class="form-label">Text Demo 2</label>
                                <div class="mb-3">
                                    <input type="text mb-3" class="form-control form-control-lg" id="TypeText3" onkeyup="inputText()" placeholder="Type text here">
                                </div>
                                <p class="text-success" id="ShowText3"></p>
                            </div>
                        </div>

                    </div>
                    

                </section>
            </main>
            
        </div>
        <% include /src/include/scripts.ejs %>
        <script>
            
            //Method 1
            var tText = document.getElementById("TypeText");
            tText.onkeyup = function(){
                document.getElementById("ShowText").innerHTML = tText.value;
            }

            //Method 2 -> define 2 variable 
            var tText2 = document.getElementById('TypeText2');
            var sText2 = document.getElementById('ShowText2');

            tText2.onkeyup = function(){
                sText2.innerHTML = tText2.value;
            }

            //Method 3 function call in input
            var tText3 = document.getElementById("TypeText3");
            var sText3 = document.getElementById("ShowText3");

            function inputText (){
                sText3.innerHTML = tText3.value;
            }

        </script>
    </body>

</html>