<footer class="bg-secondary pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="images/logo/logo-white.svg" alt="">
                    <p class="text-white fw-light my-4 ft-text-description mx-auto text-opacity">The app will be the first high end
                        user friendly based platform that will provide secure and easy shopping and giveaways.</p>
                </div>
                <hr class="text-primary">
                <div class="bottom-content">
                    <div class="d-flex text-white justify-content-between flex-column flex-md-row">
                        <div class="fw-light text-opacity text-center">2021 © CARDMAX Mobile App by Logistic Infotech</div>
                        <div class="fw-light text-opacity text-center"><a href="terms.html" class="text-white">Terms and Conditions</a> | <a href="privacy.html" class="text-white">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>