<header class="js-side-nav">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-wrapper">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Demo 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-2.html">Demo 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-3.html">Demo 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-4.html">Demo 4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-5.html">Demo 5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-6.html">Demo 6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-7.html">Demo 7</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-8.html">Demo 8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-9.html">Demo 9</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-10.html">
                                Demo 10
                                <small class="d-block">Loop</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-11.html">
                                Demo 11
                                <small class="d-block">Double Loop</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo-12.html">
                                Demo 12
                                <small class="d-block">Double Loop</small>
                            </a>
                        </li>
                    </ul> 
                </div>
            </div>
    
        </nav>
</header>